<mat-card class="program__card commitment">
    <mat-card-content class="containerX" fxLayout="column">
        <div class="containerX headline" fxLayout="row">
            <span class="flex-item commitment__text" fxFlex>{{commitment.title}}</span>
            <button mat-button (click)="edit()">
                MODIFIER
            </button>
            <button mat-button style="margin-left: 5px" (click)="remove()">
                SUPPRIMER
            </button>
        </div>
    </mat-card-content>
</mat-card>