<div class="containerX" fxLayout="column">
    <mat-tab-group>
        <mat-tab label="SHOP" fxFlex>
            <div class="shop">
                <div *ngFor="let article of articles">
                    <app-article-card [article]="article" [basket]="basket"></app-article-card>
                </div>
                <div class="containerX" fxLayout="row" *ngIf="!articles || !articles.length">
                    <span fxFlex class="flex-item"></span>
                    <div class="shop__no-items mat-title">
                        <span>
                            Coming soon !
                        </span>
                    </div>
                    <mat-icon class="shop__no-items__icon">
                        sentiment_very_satisfied
                    </mat-icon>
                    <span fxFlex class="flex-item"></span>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="PANIER">
            <app-basket *ngIf="basket" [basket]="basket"></app-basket>
        </mat-tab>
        <mat-tab label="COMMANDES">
            <app-orders></app-orders>
        </mat-tab>
    </mat-tab-group>
</div>