<md-card class="deal__card containerX" fxLayout="row">
    <!--<div class="deal__picture">-->
    <img src="{{deal.imgUrl}}" class="deal__img" />
    <!--</div>-->
    <div fxLayout="column" fxFlex>
        <md-card-content class="containerX deal__content" fxLayout="column">
            <p class="deal__content__title">{{deal.title}}</p>
            <p>{{deal.description}}</p>
        </md-card-content>
        <md-card-actions *ngIf="deal.url" class="deal__actions">
            <a href="{{ deal.url }}" target="_blank" md-button class="deal__action">
                <md-icon>link</md-icon>
                <span md-caption>{{ deal.partner }}</span>
            </a>
        </md-card-actions>
    </div>
</md-card>
<md-card class="deal__card--mobile containerX" fxLayout="column">
    <!--<div class="deal__picture">-->
    <img src="{{deal.imgUrl}}" class="deal__img--mobile" />
    <!--</div>-->
    <div fxLayout="column">
        <md-card-content class="containerX deal__content" fxLayout="column">
            <p class="deal__content__title">{{deal.title}}</p>
            <p>{{deal.description}}</p>
        </md-card-content>
        <md-card-actions *ngIf="deal.url" class="deal__actions">
            <a href="{{ deal.url }}" target="_blank" md-button class="deal__action">
                <md-icon>link</md-icon>
                <span md-caption>{{ deal.partner }}</span>
            </a>
        </md-card-actions>
    </div>
</md-card>