<div class="team">
    <div class="containerX" fxLayout="row" class="team__spinner" *ngIf="loading == true">
        <span class="flex-item" fxFlex></span>
        <div class="flex-item">
            <mat-spinner></mat-spinner>
        </div>
        <span class="flex-item" fxFlex></span>
    </div>
    <div [@loadedState]="loadedState" class="containerX" fxLayout.gt-sm="row" fxLayoutWrap>
        <div *ngFor="let member of members" class="team__card flex-item" fxFlex>
            <span class="flex-item" fxFlex></span>
            <app-member-card class="flex-item" [member]="member"></app-member-card>
            <span class="flex-item" fxFlex></span>
        </div>
    </div>
</div>