<md-toolbar color="primary" class="containerX" fxLayout="row">
    <div class="md-display-1 color__white">Inscription</div>
    <span fxFlex class="flex-item"></span>
    <div>
        <button (click)="close()" md-icon-button>
            <md-icon class="color__white">close</md-icon>
        </button>
    </div>
</md-toolbar>
<div class="contact">
    <form (ngSubmit)="onSubmit($event)">
        <div class="containerX" fxLayout="row">
            <span fxFlex></span>
            <div>
                Merci pour ton inscription ! Tu vas recevoir un mail de confirmation sous peu
            </div>
            <span fxFlex></span>
        </div>
        <div class="containerX" fxLayout="row">
            <span fxFlex class="flex-item"></span>
            <button type="submit" color="primary" class="color__white" md-raised-button>
                COMPRIS !
                <md-icon>mail_outline</md-icon>
            </button>
        </div>
    </form>
</div>