<md-toolbar class="box-shadow-2 footer containerX">
    <div class="containerX" fxFlex fxLayout="row">
        <span class="flex-item" fxFlex></span>
        <div class="wrapper">
            <a href="https://www.facebook.com/listeterror404/" target="_blank"><i class="fa fa-2x fa-facebook-square facebook"></i></a>
            <i (click)="openDialog()" class="fa fa-2x fa-envelope-o"></i>
            <a href="https://firebasestorage.googleapis.com/v0/b/website-d0a07.appspot.com/o/various%2Fsnapchat.jpg?alt=media&token=b46b9645-1f83-46d6-a389-29aa00e0760c" target="_blank"><i class="fa fa-2x fa-snapchat-square snapchat"></i></a>
        </div>
        <div class="flex-item containerX" fxFlex fxLayout="row">
            <span class="flex-item" fxFlex></span>
            <div class="md-title footer__thank">
                Made with
                <span class="footer__love">
                  <md-icon class="footer_love fa fa-heart"></md-icon>
                </span> by lgosse
            </div>
        </div>
    </div>
</md-toolbar>