<md-toolbar class="box-shadow-2 footer containerX">
    <div class="containerX" fxFlex fxLayout="row">
        <span class="flex-item" fxFlex></span>
        <div class="wrapper">
            <i href="" target="_blank" class="fa fa-2x fa-facebook-square"></i>
            <i (click)="openDialog()" class="fa fa-2x fa-envelope-o"></i>
            <i href="" target="_blank" class="fa fa-2x fa-instagram"></i>
            <i href="" target="_blank" class="fa fa-2x fa-snapchat-square"></i>
        </div>
        <div class="flex-item containerX" fxFlex fxLayout="row">
            <span class="flex-item" fxFlex></span>
            <div class="md-title footer__thank">
                Made with
                <span class="footer__love">
                  <md-icon class="footer_love fa fa-heart"></md-icon>
                </span>
            </div>
        </div>
    </div>
</md-toolbar>