.footer {
    border-top: 1px solid #eeeeee;
    &__love {
        color: red;
    }
    &__thank {
        padding-top: 10px;
    }
}

i {
    padding: 0px 10px 0px 10px;
}

.wrapper i:nth-child(1) {
    color: #4867AA;
    cursor: pointer;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all ease-in-out 150ms;
}

.wrapper i:nth-child(1):hover {
    margin-top: -10px;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0, -8);
}

.wrapper i:nth-child(2) {
    color: #1DA1F2;
    cursor: pointer;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all ease-in-out 150ms;
}

.wrapper i:nth-child(2):hover {
    margin-top: -10px;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0, -8);
}

.wrapper i:nth-child(3) {
    color: #813DB4;
    cursor: pointer;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all ease-in-out 150ms;
}

.wrapper i:nth-child(3):hover {
    margin-top: -10px;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0, -8);
}

.wrapper i:nth-child(4) {
    color: #fffc00;
    cursor: pointer;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all ease-in-out 150ms;
}

.wrapper i:nth-child(4):hover {
    margin-top: -10px;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0, -8);
}