<ng-template #firstCard>
    <div class="containerX flex-item home__card" fxLayout="row" fxFlex>
        <span fxFlex class="flex-item"></span>
        <app-picture-card
            [imgUrl]="eventCard.imgUrl"
            [icon]="eventCard.icon"
            [title]="eventCard.title"
            [textContent]="eventCard.textContent"
            [actionLabel]="eventCard.actionLabel"
            [contentMinHeight]="'155px'"
            (cardClickEvent)="navigateTo('/events')">
        </app-picture-card>
        <span fxFlex class="flex-item"></span>
    </div>
</ng-template>

<ng-template #secondCard>
    <div class="containerX flex-item home__card" fxLayout="row" fxFlex>
        <span fxFlex class="flex-item"></span>
        <app-picture-card
            [imgUrl]="shopCard.imgUrl"
            [icon]="shopCard.icon"
            [title]="shopCard.title"
            [textContent]="shopCard.textContent"
            [actionLabel]="shopCard.actionLabel"
            [contentMinHeight]="'155px'"
            (cardClickEvent)="navigateTo('/shop')">
        </app-picture-card>
        <span fxFlex class="flex-item"></span>
    </div>
</ng-template>

<ng-template #thirdCard>
    <div class="containerX flex-item home__card" fxLayout="row" fxFlex>
        <span fxFlex class="flex-item"></span>
        <app-picture-card
            [imgUrl]="dealCard.imgUrl"
            [icon]="dealCard.icon"
            [title]="dealCard.title"
            [textContent]="dealCard.textContent"
            [actionLabel]="dealCard.actionLabel"
            [contentMinHeight]="'155px'"
            (cardClickEvent)="navigateTo('/deals')">
        </app-picture-card>
        <span fxFlex class="flex-item"></span>
    </div>
</ng-template>

<div class="containerX home full-width" fxLayout="column">

    <div class="home__container-main-picture">
        <img [src]="homeMainPicUrl" class="home__main-picture" (load)="loaded = true" [ngClass]="{ 'lazyloaded': loaded }"/>
    </div>

    <div class="containerX home__cards" class.lt-xl="home__cards__hidden" fxLayout="row">
        <ng-container *ngTemplateOutlet="firstCard"></ng-container>
        <ng-container *ngTemplateOutlet="secondCard"></ng-container>
        <ng-container *ngTemplateOutlet="thirdCard"></ng-container>
    </div>

    <div class="containerX home__cards display__block" class.lt-lg="home__cards__hidden" class.gt-lg="hidden">
        <div class="containerX full-width" fxLayout="row">
            <ng-container *ngTemplateOutlet="firstCard"></ng-container>
            <ng-container *ngTemplateOutlet="secondCard"></ng-container>
        </div>
        <ng-container *ngTemplateOutlet="thirdCard"></ng-container>
    </div>

    <div class="home__cards display__block" class.gt-md="home__cards__hidden">
        <ng-container *ngTemplateOutlet="firstCard"></ng-container>
        <ng-container *ngTemplateOutlet="secondCard"></ng-container>
        <ng-container *ngTemplateOutlet="thirdCard"></ng-container>
    </div>
</div>