<div class="containerX app__content" fxLayout="row">
    <mat-sidenav-container class="app__content">
        <mat-sidenav [mode]="sidenavMode" [opened]="sidenavOpen" class="mat-elevation-z8" style="background-color: #f9a825" #sidenav>
            <app-sidebar [sidenav]="sidenav"></app-sidebar>
        </mat-sidenav>
        <div class="app__content_view">
            <button mat-fab (click)="sidenav.open()" color="primary" class="layout__fab" *ngIf="showFab">
                <mat-icon class="mat-24">menu</mat-icon>
            </button>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-container>
</div>