@import "src/app/global.scss";

.app__content {
  background-image: url("../../../background.svg");
  height: 100vh !important;
  width: 100%;
}

.layout {
  &__fab {
    z-index: 1;
    position: absolute;
    color: white;
    top: $mat-mat-spacing;
    left: $mat-mat-spacing;
  }
}
