<div class="back-office">
    <mat-toolbar color="primary" class="containerX">
        <span class="flex-item" fxFlex></span>
        <mat-select class="select" (change)="navigateTo($event)" [(ngModel)]="selectedRoute" name="menu select">
            <mat-option [value]="-1">
                Select a tool
            </mat-option>
            <mat-option [value]="0">
                Messages
            </mat-option>
            <mat-option [value]="1">
                Events
            </mat-option>
            <mat-option [value]="2">
                Subscriptions
            </mat-option>
            <mat-option [value]="3">
                Deals
            </mat-option>
            <mat-option [value]="4">
                Mailing Lists
            </mat-option>
            <mat-option [value]="5">
                Mailbox
            </mat-option>
            <mat-option [value]="6">
                Associations
            </mat-option>
        </mat-select>
        <span class="flex-item" fxFlex></span>
    </mat-toolbar>
    <router-outlet></router-outlet>
</div>