<div class="back-office">
    <md-toolbar color="primary" class="containerX">
        <span class="flex-item" fxFlex></span>
        <md-select class="select" placeholder="Select tab" (change)="navigateTo($event)" [(ngModel)]="selectedRoute" name="menu select">
            <md-option value="1">
                Messages
            </md-option>
            <md-option value="2">
                Events
            </md-option>
            <md-option value="3">
                Subscriptions
            </md-option>
            <md-option value="4">
                Deals
            </md-option>
            <md-option value="5">
                Mailing Lists
            </md-option>
            <md-option value="6">
                Mailbox
            </md-option>
            <md-option value="7">
                Associations
            </md-option>
        </md-select>
        <span class="flex-item" fxFlex></span>
    </md-toolbar>
    <router-outlet></router-outlet>
</div>