@import "src/app/global.scss";
// Import theming functions
@import "~@angular/material/theming";
// Import your custom theme
@import "src/app/theme.scss";

.videos {
  padding: $mat-mat-spacing;

  &__player {
    padding: 0 !important;
    margin: $sm-mat-spacing;
    height: 50vh;

    &__frame {
      height: 100%;
      width: 100%;
    }

    &__container {
      height: calc(100% - 60px);
    }
  }

  &__info {
    padding: $mat-mat-spacing;
    font-size: 20px;
    color: mat-color($bde-app-primary);

    &__title {
      padding-left: $mat-mat-spacing;
    }
  }

  &__min {
    padding: 0 !important;
    margin: $sm-mat-spacing;
    width: 400px;

    &__picture {
      width: 100%;
      height: 225px;

      &__container {
        width: 100%;
      }
    }

    :hover {
      .videos {
        &__min {
          &__play {
            opacity: 0.75 !important;
          }
        }
      }
    }

    &__play {
      opacity: 0;
      margin-top: -135px;
      margin-left: 172px;
      position: absolute;
      transition: all 0.25s ease-in-out;
    }

    &__small {
      margin: $sm-mat-spacing;
      min-width: 93% !important;
      padding: 0 !important;
      width: 93% !important;
    }
  }
}

img {
  opacity: 0;
  transition: opacity 1s;
}

img.lazyloaded {
  opacity: 1;
}
