<div class="videos" layout="column">
    <md-card class="videos__player">
        <md-card-content class="videos__player__container">
            <div id="youtube-player"></div>
            <div class="videos__info containerX" fxLayout="row" *ngIf="currentVideo">
                <div class="videos__info__youtube-icon">
                    <md-icon>video_library</md-icon>
                </div>
                <div class="videos__info__title">
                    {{ currentVideo.title }}
                </div>
            </div>
        </md-card-content>
    </md-card>
    <div [@loadedState]="loadedState" class="containerX" fxLayout="row" fxLayout.gt-sm="row" fxLayoutWrap.gt-sm>
        <div *ngFor="let video of videos" class="videos__card">
            <md-card class="videos__min" class.xs="videos__min__small">
                <md-card-content class="videos__min__container">
                    <div class="videos__min__picture__container">
                        <img class="videos__min__picture" [src]="video.thumbnailUrl" (load)="loaded = true" [ngClass]="{ 'lazyloaded': loaded }" />
                        <a md-fab class="videos__min__play" color="primary" (click)="playVideo(video)">
                            <md-icon class="color__white">
                                play_arrow
                            </md-icon>
                        </a>
                    </div>
                    <div class="videos__info containerX" fxLayout="row" *ngIf="currentVideo">
                        <div class="videos__info__youtube-icon">
                            <md-icon>video_library</md-icon>
                        </div>
                        <div class="videos__info__title">
                            {{ video.title }}
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>