@import "src/app/global.scss";
// Import theming functions
@import "~@angular/material/theming";
// Import your custom theme
@import "src/app/theme.scss";

.partner {
  &__spinner {
    padding-top: 100px;
  }

  &__container {
    padding: $mat-mat-spacing;
  }

  &__card {
    padding: $mat-mat-spacing;
  }
}
