<div class="containerX" fxLayout="row" class="partner__spinner" *ngIf="loading == true">
    <span class="flex-item" fxFlex></span>
    <div class="flex-item">
        <md-spinner></md-spinner>
    </div>
    <span class="flex-item" fxFlex></span>
</div>
<div class="containerX" [@loadedState]="loadedState" fxLayout="column">
    <div class="containerX partner__container" fxLayout="row" fxLayout.gt-sm="row" fxLayoutWrap.gt-sm>
        <div class="partner__card" *ngFor="let partner of partners">
            <app-picture-card
                [imgUrl]="partner.imgUrl"
                [title]="partner.name"
                [textContent]="partner.occupation"
                [actionLabel]="'VOIR LE SITE'"
                (cardClickEvent)="openNewTab(partner.url)"
                [isPartner]="true"
                [contentMinHeight]="'74px'">
            </app-picture-card>
        </div>
    </div>
</div>