<div class="containerX" fxLayout="row" class="partner__spinner" *ngIf="loading === true">
    <span class="flex-item" fxFlex></span>
    <div class="flex-item">
        <md-spinner></md-spinner>
    </div>
    <span class="flex-item" fxFlex></span>
</div>
<div class="containerX" [@loadedState]="loadedState" fxLayout="column">
    <div class="containerX" *ngFor="let partner of partners" fxLayout="row">
        <span fxFlex class="flex-item"></span>
        <app-partner-card [partner]="partner"></app-partner-card>
        <span fxFlex class="flex-item"></span>
    </div>
</div>