@import "src/app/global.scss";
// Import theming functions
@import "~@angular/material/theming";
// Import your custom theme
@import "src/app/theme.scss";

.associations {
  padding: $md-mat-spacing;
  &__card {
    padding: $md-mat-spacing;
    margin: $md-mat-spacing;
    &__title {
      font-size: 24px;
      padding: 6px;
    }
  }

  &__form {
    padding: $md-mat-spacing;
    &__button {
      margin: 10px;
      height: 40px;
    }
  }
}
