<div class="videos" layout="column">
    <mat-card class="videos__player">
        <mat-card-content class="videos__player__container">
            <div id="youtube-player"></div>
            <div class="videos__info containerX" fxLayout="row" *ngIf="currentVideo">
                <div class="videos__info__youtube-icon">
                    <mat-icon>video_library</mat-icon>
                </div>
                <div class="videos__info__title">
                    {{ currentVideo.title }}
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <div [@loadedState]="loadedState" class="containerX" fxLayout="row" fxLayout.gt-sm="row" fxLayoutWrap.gt-sm>
        <div *ngFor="let video of videos" class="videos__card">
            <mat-card class="videos__min" class.xs="videos__min__small" (click)="playVideo(video)">
                <mat-card-content class="videos__min__container">
                    <div class="videos__min__picture__container">
                        <img class="videos__min__picture" [src]="video.thumbnailUrl" (load)="loaded = true" [ngClass]="{ 'lazyloaded': loaded }">
                    </div>
                    <div class="videos__info containerX" fxLayout="row" *ngIf="currentVideo">
                        <div class="videos__info__youtube-icon">
                            <mat-icon>video_library</mat-icon>
                        </div>
                        <div class="videos__info__title">
                            {{ video.title }}
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>