.home {
    height: 100%;
    &__img {
        width: 100% !important;
        &__container {}
    }
    &__video-container {
        @media(min-width: 720px) {
            padding: 20px;
        }
    }
    &__card {
        @media(min-width: 720px) {
            width: 70%;
            margin: 20px auto;
            margin-bottom: 40px;
        }
        @media(max-width: 720px) {
            width: 90vw;
        }
    }
    &__logo-container {
        padding: 20px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    &__logo {
        height: 300px;
        @media(max-width: 720px) {
            height: 150px;
        }
    }
    &__welcome {
        margin-top: 40px;
        margin-bottom: 30px;
    }
}