<div class="home">
    <div class="home__img__container">
        <img class="home__img" src="https://firebasestorage.googleapis.com/v0/b/website-d0a07.appspot.com/o/various%2Faff2.jpg?alt=media&token=2d24159c-c8e4-46bf-ab12-a7d0b2a807ed" alt="gif t_error 404">
    </div>
    <div class="home__img__container">
        <img class="home__img" src="https://firebasestorage.googleapis.com/v0/b/website-d0a07.appspot.com/o/gifs%2FGIF3.gif?alt=media&token=20683d26-12d2-4901-98a7-c6650a30de4e" alt="gif t_error 404">
    </div>
</div>