<div class="home containerX" fxLayout="column">
    <div class="home__logo-container center containerX" fxLayout="row">
        <img class="center home__logo" src="visu_logo_site.png" (load)="logoLoaded = true" [class.lazyloaded]="logoLoaded" />
    </div>
    <div class="containerX" fxLayout="row" class="program__spinner" *ngIf="loadedState == false">
        <span class="flex-item" fxFlex></span>
        <div class="flex-item">
            <md-spinner></md-spinner>
        </div>
        <span class="flex-item" fxFlex></span>
    </div>
    <div *ngFor="let event of eventsToShow">
        <div class="containerX" fxLayout="row" *ngIf="loadedState == true">
            <span fxFlex></span>
            <app-event-card [event]="event" [small]="true"></app-event-card>
            <span fxFlex></span>
        </div>
    </div>
    <div class="containerX padding" fxLayout="row">
        <span fxFlex></span>
        <button (click)="navigateTo('/events')" md-raised-button color="primary" class="home__events__button">
            <md-icon>event</md-icon>
            Viens voir nos autres events !
        </button>
        <span fxFlex></span>
    </div>
    <md-card class="center home__card home__video-container">
        <md-card-content class="containerX" fxLayout="column">
            <div class="containerX" fxLayout="row">
                <span fxFlex></span>
                <iframe width="750" height="422" src="https://www.youtube.com/embed/O5UpNJEbFzs" frameborder="0" allowfullscreen (load)="iframeLoaded = true" [class.lazyloaded]="iframeLoaded" class="home__video"></iframe>
                <span fxFlex></span>
            </div>
            <div class="containerX" fxLayout="row">
                <span fxFlex></span>
                <a href="https://www.youtube.com/channel/UCb5Wq73IorRBqLhxztkKNlg" target="_blank">
                    <button md-raised-button color="primary">
                        <md-icon>ondemand_video</md-icon>
                        Nos autres vidéos
                    </button>
                </a>
                <span fxFlex></span>
            </div>
        </md-card-content>
    </md-card>
    <div class="containerX" fxLayout="row">
        <app-idea-box fxFlex></app-idea-box>
    </div>
</div>