@import 'src/app/global.scss';

.home {

    &__container-main-picture {
        width : 100%;
    }
    &__main-picture {
        width : 100%;
    }
    &__cards {
        padding : $gt-mat-spacing;

        &__hidden {
            display : none !important;
        }
    }
    &__card {
        margin: $gt-mat-spacing;
    }
}

.display {
    &__block {
        display : block !important;
    }
}

img {
    opacity: 0;
    transition: opacity 1s;
}

img.lazyloaded {
    opacity: 1;
}