<div class="home containerX" fxLayout="column">
    <div class="home__logo-container center containerX" fxLayout="row">
        <img class="center home__logo" src="visu_logo_site.png" />
    </div>
    <div class="containerX" fxLayout="row" *ngIf="eventLoaded === true">
        <span fxFlex></span>
        <app-event-card [event]="event" [small]="true"></app-event-card>
        <span fxFlex></span>
    </div>
    <div class="containerX padding" fxLayout="row">
        <span fxFlex></span>
        <button (click)="navigateTo('/events')" md-raised-button color="primary">
            <md-icon>event</md-icon>
            Viens voir nos autres events !
        </button>
        <span fxFlex></span>
    </div>
    <md-card class="center home__card">
        <md-card-content class="containerX" fxLayout="column">
            <div class="containerX home__video-container" fxLayout="row">
                <span fxFlex></span>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Wv-bUqO3G8I" frameborder="0" allowfullscreen></iframe>
                <span fxFlex></span>
            </div>
            <div class="containerX" fxLayout="row">
                <span fxFlex></span>
                <a href="https://www.youtube.com/channel/UCb5Wq73IorRBqLhxztkKNlg" target="_blank">
                    <button md-raised-button color="primary">
                        <md-icon>ondemand_video</md-icon>
                        Nos autres vidéos
                    </button>
                </a>
                <span fxFlex></span>
            </div>
        </md-card-content>
    </md-card>
    <div class="containerX" fxLayout="row">
        <app-idea-box fxFlex></app-idea-box>
    </div>
</div>