<div class="form" *ngIf="association" fxLayout="column">
  <div class="containerX" fxLayout="row">
    <app-association-card [association]="association"></app-association-card>
  </div>
  <form fxLayout="row" class="full-width containerX">
    <span fxFlex class="flex-item"></span>

    <md-accordion class="form__accordion">

      <md-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
        <md-expansion-panel-header>
          <mat-panel-title>
            Description de {{ association.name }}
          </mat-panel-title>
        </md-expansion-panel-header>
        Content that gets shown when expanded
        <md-action-row>
          <button md-button color="primary" (click)="nextStep()">
            Suivant
          </button>
        </md-action-row>
      </md-expansion-panel>

      <md-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
        <md-expansion-panel-header>
          <mat-panel-title>
            Coordonnées du président (requis)
          </mat-panel-title>
        </md-expansion-panel-header>
        Content that gets shown when expanded
        <md-action-row>
          <button md-button color="primary" (click)="nextStep()">
            Suivant
          </button>
        </md-action-row>
      </md-expansion-panel>

      <md-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
        <md-expansion-panel-header>
          <mat-panel-title>
            Coordonnées du Trésorier (optionnel)
          </mat-panel-title>
        </md-expansion-panel-header>
        Content that gets shown when expanded
        <md-action-row>
          <button md-button color="primary" (click)="nextStep()">
            Suivant
          </button>
        </md-action-row>
      </md-expansion-panel>

      <md-expansion-panel [expanded]="step === 3" (opened)="setStep(3)">
        <md-expansion-panel-header>
          <mat-panel-title>
            Coordonnées du Secrétaire (optionnel)
          </mat-panel-title>
        </md-expansion-panel-header>
        Content that gets shown when expanded
      </md-expansion-panel>
    </md-accordion>

    <span fxFlex class="flex-item"></span>
  </form>

</div>