<div class="form" *ngIf="association && associationForm" fxLayout="column">

  <form [formGroup]="associationForm" class="containerX" (ngSubmit)="onSubmit()" novalidate>

    <div class="containerX" fxLayout="row">
      <span fxFlex></span>
      <app-association-card [association]="associationForm.value"></app-association-card>
      <span fxFlex></span>
    </div>

    <div fxLayout="row" class="full-width">
      <span fxFlex class="flex-item"></span>

      <mat-accordion class="form__accordion">

        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Description de {{ association.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="containerX" fxLayout="column">
            <mat-form-field>
              <input matInput formControlName="description" type="text" required placeholder="Description" maxlength="50">
              <mat-hint align="end">
                {{associationForm.value.description.length}} / 50
              </mat-hint>
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="facebookURL" type="text" placeholder="Facebook URL" required>
              <mat-error *ngIf="associationForm.get('facebookURL').valid === false">
                URL is invalid
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="websiteURL" type="text" placeholder="Website URL">
              <mat-error *ngIf="associationForm.get('websiteURL').valid === false">
                URL is invalid
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="occupation" type="text" placeholder="Ce que vous faites" maxlength="100">
              <mat-hint align="end">
                {{ associationForm.value.occupation.length }} / 100
              </mat-hint>
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="hobbies" type="text" placeholder="Ce que vous aimez" maxlength="100">
              <mat-hint align="end">
                {{ associationForm.value.hobbies.length }} / 100
              </mat-hint>
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="location" type="text" placeholder="Où on peut vous trouver" maxlength="100">
              <mat-hint align="end">
                {{ associationForm.value.location.length }} / 100
              </mat-hint>
            </mat-form-field>
            <mat-form-field>
              <textarea matInput formControlName="knowledge" placeholder="Ce qu'il y a à savoir" maxlength="200"></textarea>
              <mat-hint align="end">
                {{ associationForm.value.knowledge.length }} / 200
              </mat-hint>
            </mat-form-field>
          </div>
          <mat-action-row>
            <button type="button" mat-button color="primary" (click)="nextStep()">
              Suivant
            </button>
          </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Coordonnées du président (requis)
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-association-contact-form [group]="associationForm.controls['firstContact']"></app-association-contact-form>
          <mat-action-row>
            <button type="button" mat-button color="primary" (click)="nextStep()">
              Suivant
            </button>
          </mat-action-row>

        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Coordonnées du Trésorier (optionnel)
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-association-contact-form [group]="associationForm.controls['secondContact']"></app-association-contact-form>
          <mat-action-row>
            <button type="button" mat-button color="primary" (click)="nextStep()">
              Suivant
            </button>
          </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Coordonnées du Secrétaire (optionnel)
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-association-contact-form [group]="associationForm.controls['thirdContact']"></app-association-contact-form>
        </mat-expansion-panel>
      </mat-accordion>
      <span fxFlex class="flex-item"></span>

    </div>

    <div fxLayout="row" class="containerX">
      <span fxFlex></span>
      <button mat-raised-button class="form__button color__white" color="primary" [disabled]="!associationForm.valid">
        Sauvegarder
      </button>
      <button mat-raised-button class="form__button color__white" type="button" color="primary" [disabled]="!associationForm.valid"
        (click)="toggleAssociationPublication()">
        {{ association.published ? 'Retirer du site' : 'Publier sur le site' }}
      </button>
      <span fxFlex></span>
    </div>

  </form>
</div>