<mat-card class="mailing-lists__card mailing-list margin" (click)="opened = !opened">
    <mat-card-content class="mailing-list__card__content containerX" fxLayout="column">
        <div class="containerX headline" fxLayout="row">
            <span class="flex-item message__text" fxFlex>{{mailingList.$key}}</span>
        </div>
        <div class="message__body" [ngClass]="{ 'hidden': !opened }">
            <div *ngFor="let userKey of keys(mailingList)">
                <mat-card class="mails__card mail" *ngIf="mailingList[userKey].isAuthenticated === true">
                    <mat-card-content class="mails__card__content containerX" fxLayout="column">
                        <div class="containerX headline" fxLayout="row">
                            <span class="flex-item mail__text" fxFlex>
                                {{ mailingList[userKey].email }}
                            </span>
                            <button mat-icon-button style="color: #FE7E79" (click)="deleteMail(mailingList.$key, mailingList[userKey], userKey)">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div *ngFor="let userKey of keys(mailingList)">
                <mat-card class="mails__card mail archived" *ngIf="mailingList[userKey].isAuthenticated === false">
                    <mat-card-content class="mails__card__content containerX" fxLayout="column">
                        <div class="containerX headline" fxLayout="row">
                            <span class="flex-item mail__text" fxFlex>
                                {{ mailingList[userKey].email }}
                            </span>
                            <button mat-icon-button style="color: #A0CE4e" (click)="rollbackMail(mailingList.$key, mailingList[userKey], userKey)">
                                <mat-icon>settings_backup_restore</mat-icon>
                            </button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-card-content>
</mat-card>