<div class="events">

    <div fxLayout="row" class="containerX program__spinner" *ngIf="loading == true">
        <span class="flex-item" fxFlex></span>
        <div class="flex-item">
            <mat-spinner></mat-spinner>
        </div>
        <span class="flex-item" fxFlex></span>
    </div>

    <div [@loadedState]="loadedState">

        <div *ngIf="party">
            <div class="events__section__title">
                {{ party.title }}
            </div>
            <div class.xs="events__party" class.sm="events__party">
                <app-party-card [party]="party"></app-party-card>
            </div>
        </div>

        <div>
            <div class="events__section__title">
                PROCHAINEMENT
            </div>
            <div class="events__waiting">
                Reviens régulièrement pour voir les nouveaux évènements qu'on vous propose !
            </div>
            <div class="containerX events__container" fxLayout="row" fxLayout.gt-sm="row" fxLayoutWrap.gt-sm>
                <div *ngFor="let event of currentEvents" id="current-events" class="events__card">
                    <app-picture-card *ngIf="event.isParty === false" [links]="event.links" [imgUrl]="event.imgUrl" [title]="event.title" [textContent]="event.description"
                        [actionLabel]="isSubbedAtEvent(event) ? 'SE DÉSINSCRIRE' : 'S\'INSCRIRE'" [expandable]="true" [expandState]="'collapsed'"
                        [titleOverPicture]="true" [isEvent]="true" (cardClickEvent)="isSubbedAtEvent(event) ? unsubscribe(event) : subscribe(event)">
                    </app-picture-card>
                </div>
            </div>
        </div>

        <div *ngIf="passedEvents.length !== 0">
            <div class="events__section__title">
                ÉVÈNEMENTS PASSÉS
            </div>
            <div class="containerX" id="passed-events" fxLayout="row" fxLayout.gt-sm="row" fxLayoutWrap.gt-sm>
                <div *ngFor="let event of passedEvents" class="events__card">
                    <app-picture-card [links]="event.links" [imgUrl]="event.imgUrl" [title]="event.title" [textContent]="event.description" [expandable]="true"
                        [expandState]="'collapsed'" [isEvent]="true" [titleOverPicture]="true">
                    </app-picture-card>
                </div>
            </div>
        </div>
    </div>

</div>