@import "src/app/global.scss";
// Import theming functions
@import "~@angular/material/theming";
// Import your custom theme
@import "src/app/theme.scss";
.events {
  height: 100%;
  padding: $md-mat-spacing;

  &__card {
    padding: $sm-mat-spacing;
  }

  &__section {
    &__title {
      width: 250px;
      color: mat-color($bde-app-primary);
      padding: 5px 0;
      margin: $sm-mat-spacing;
      border-bottom: 2px solid mat-color($bde-app-primary);
      font-size: 21px;
    }
  }

  &__waiting {
    font-size: 24px;
    opacity: 0.54;
    padding: $sm-mat-spacing;
  }

  &__party {
    padding: $sm-mat-spacing;
  }

  &__scroll-button {
    &__left {
      position: absolute;
      left: 24px;
      z-index: 1;
      margin-top: 245px;

      &__icon {
        margin-top: 2px;
        font-size: 45px;
        margin-left: -25px;
        color: white;
      }
    }

    &__right {
      position: absolute;
      right: 24px;
      z-index: 1;
      margin-top: 245px;

      &__icon {
        margin-top: 2px;
        font-size: 45px;
        margin-left: -20px;
        color: white;
      }
    }
  }
}
