// Import theming functions
@import '~@angular/material/theming';
// Import your custom theme
@import 'src/app/theme.scss';
.basket {
    padding: 20px;
    min-height: 90vh;
    &__card {
        border-top: 2px solid mat-color($bde-app-primary);
        margin: 10px;
        border-radius: 10px;
        &__grey {
            color: #757575;
        }
        &__text {
            padding-top: 6px;
        }
    }
    &__order-button {
        width: 200px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    &__no-items {
        margin-top: 20px;
        color: #A0A0A0;
        &__icon {
            margin-top: 16px;
            font-size: 40px;
            margin-left: 5px;
            color: #A0A0A0;
        }
    }
}