<div class="containerX" fxLayout="row">
    <div class="flex-item" fxFlex>
        <mat-select placeholder="Taille" [(ngModel)]="article.selectedSize" class="article__content__order__select">
            <div *ngFor="let size of sizes">
                <mat-option [value]="size">
                    {{ size }}
                </mat-option>
            </div>
        </mat-select>
    </div>
    <div class="flex-item" fxFlex>
        <mat-input-container class="full-width">
            <input class="full-width" matInput min="0" placeholder="Quantité" [(ngModel)]="article.quantity" type="number" [disabled]="!article.selectedSize"
                name="Quantité">
        </mat-input-container>
    </div>
</div>