<md-toolbar color="primary">

    <span class="md-display-1">{{title}}</span>
    <md-toolbar-row class="containerX">
        <span class="flex-item" fxFlex></span>
        <nav md-tab-nav-bar class="no-border">
            <a md-tab-link routerLink="home" routerLinkActive="active" active="active">ACCUEIL</a>
            <!--<a md-tab-link routerLink="/events" routerLinkActive="active" active="active">ÉVÈNEMENTS</a>-->
            <a md-tab-link routerLink="team" routerLinkActive="active" active="active ">L'ÉQUIPE</a>
            <a md-tab-link routerLink="families" routerLinkActive="active" active="active">LE PROGRAMME</a>
            <a md-tab-link routerLink="partners" routerLinkActive="active" active="active">PARTENAIRES</a>
        </nav>
        <span class="flex-item" fxFlex></span>
        <!--<div class="flex-item containerX" fxFlex fxLayoutAlign="right right">
            <span class="flex-item" fxFlex></span>
            <div>
                <a md-button routerLink=".">
                    <md-icon>person</md-icon>
                    <span md-caption>My Account</span>
                </a>
            </div>
        </div>-->
    </md-toolbar-row>
</md-toolbar>
<div class="content box-shadow-2">
    <router-outlet></router-outlet>
</div>