<md-toolbar color="primary">

    <span class="md-display-1">{{title}}</span>
    <md-toolbar-row class="containerX">
        <span class="flex-item" fxFlex></span>
        <div>
            <a md-button routerLink="/home">ACCUEIL</a>
            <a md-button routerLink="/events">ÉVÈNEMENTS</a>
            <a md-button routerLink="/team">L'ÉQUIPE</a>
            <a md-button routerLink="/families">LES FAMILLES</a>
        </div>
        <span class="flex-item" fxFlex></span>
        <!--<div class="flex-item containerX" fxFlex fxLayoutAlign="right right">
            <span class="flex-item" fxFlex></span>
            <div>
                <a md-button routerLink=".">
                    <md-icon>person</md-icon>
                    <span md-caption>My Account</span>
                </a>
            </div>
        </div>-->
    </md-toolbar-row>
</md-toolbar>
<div class="content box-shadow-2">
    <router-outlet></router-outlet>
</div>