<md-toolbar color="primary" class="box-shadow-2">

    <span class="md-display-1">{{title}}</span>
    <md-toolbar-row class="containerX">
        <span class="flex-item" fxFlex></span>
        <md-button-toggle-group class="no-border">
            <md-button-toggle class="md-button" routerLink="home" routerLinkActive="active" active="active">ACCUEIL</md-button-toggle>
            <!--<md-button-toggle class="md-button" routerLink="/events" routerLinkActive="active" active="active">ÉVÈNEMENTS</md-button-toggle>-->
            <md-button-toggle class="md-button" routerLink="team" routerLinkActive="active" active="active ">L'ÉQUIPE</md-button-toggle>
            <md-button-toggle class="md-button" routerLink="program" routerLinkActive="active" active="active">LE PROGRAMME</md-button-toggle>
            <md-button-toggle class="md-button" routerLink="partners" routerLinkActive="active" active="active">PARTENAIRES</md-button-toggle>
        </md-button-toggle-group>
        <span class="flex-item" fxFlex></span>
    </md-toolbar-row>
</md-toolbar>
<div>
    <div class="content box-shadow-2">
        <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
</div>