<div class="faq">
    <div class="headline faq__question">
        À quoi sert le BDE ?
    </div>
    <div class="title faq__answer">
        Le BDE est là pour animer la vie étudiante : soirées, sorties, voyages. Le BDE a également pour objectif de négocier des avantages pour les étudiants et de leur proposer des activités et des expériences originales.
    </div>
    <div class="headline faq__question">
        Et si j’ai une idée à proposer au BDE ?
    </div>
    <div class="title faq__answer">
        Aucun souci, nous sommes ouverts à toutes les idées, qu’elles concernent le fonctionnement de notre association ou une envie de sortie. Il suffit de venir nous en parler ou d'utiliser la boîte à idées sur notre home !
    </div>
    <div class="headline faq__question">
        Qui contacter si je souhaite apporter mon aide lors des événements BDE ?
    </div>
    <div class="title faq__answer">
        Il suffit d'envoyer un mail à bde42.L404@gmail.com
    </div>
    <div class="headline faq__question">
        Comment présenter une liste aux prochaines élections BDE ?
    </div>
    <div class="title faq__answer">
        Pour présenter une liste aux élections du BDE, il faut constituer un groupe d’au moins 5 étudiants sérieux et motivés, déclarer son association, préparer sa campagne et se déclarer auprès du BDE en poste.
    </div>
    <div class="headline faq__question">
        Quand se déroulent les élections du BDE ?
    </div>
    <div class="title faq__answer">
        Les élections du BDE et la campagne ont lieu en Avril.
    </div>
    <div class="headline faq__question">
        Comment se déroulent les élections du BDE ?
    </div>
    <div class="title faq__answer">
        Les élections du BDE se font en ligne et sur site après deux semaines de campagne pendant lesquelles la liste présente son équipe et son programme.
    </div>
    <div class="headline faq__question">
        Que se passe-t-il si une seule liste se présente ?
    </div>
    <div class="title faq__answer">
        Dans le cas où une seule liste se présente, les étudiants votent oui ou non pour la liste qui leur est proposée.
    </div>
    <div class="headline faq__question">
        Comment consulter les statuts de votre association ?
    </div>
    <div class="title faq__answer">
        Pour consulter les statuts de notre association, il suffit de nous envoyer un mail à bde42.L404@gmail.com et nous vous les enverrons.
    </div>
    <div class="headline faq__question">
        Pourquoi gpotte fait-il partie de votre liste ?
    </div>
    <div class="title faq__answer">
        ¯\_(ツ)_/¯
    </div>
</div>