<mat-card class="text-interface margin">
    <mat-card-content>
        <mat-input-container class="text-interface__subject">
            <input type="text" matInput class="text-interface__subject" placeholder="Subject" required name="mail subject" [(ngModel)]="subject"
                (ngModelChange)="onTypeSubject()">
        </mat-input-container>
        <mat-input-container class="text-interface__textarea">
            <textarea matInput class="text-interface__textarea" placeholder="Enter your markdown text here" required name="mail body"
                [(ngModel)]="mailBody" (ngModelChange)="onTypeBody()"></textarea>
        </mat-input-container>
        <div class="containerX" fxLayout="row">
            <span fxFlex></span>
            <a mat-raised-button color="primary" href="https://dimpu.github.io/angular2-markdown/" target="_blank">
                MARKDOWN CHEATSHEET
            </a>
            <span fxFlex></span>
        </div>
    </mat-card-content>
</mat-card>