<div class="contact__card">
    <mat-toolbar color="primary" class="containerX" fxLayout="row">
        <div class="mat-display-1">Contactez-nous</div>
        <span fxFlex class="flex-item"></span>
        <div>
            <button (click)="close()" mat-icon-button>
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <div class="contact">
        <form (ngSubmit)="onSubmit($event)">
            <mat-input-container class="containerX full-width" fxLayout="column">
                <input [(ngModel)]="contact.subject" matInput type="text" placeholder="Objet" required name="subject">
            </mat-input-container>
            <mat-input-container class="containerX full-width" fxLayout="column">
                <textarea [(ngModel)]="contact.message" matInput type="text" placeholder="Message" required name="message"></textarea>
            </mat-input-container>
            <div class="containerX" fxLayout="row">
                <span fxFlex class="flex-item"></span>
                <button type="submit" color="primary" mat-raised-button>
                    ENVOYER
                    <mat-icon>mail_outline</mat-icon>
                </button>
            </div>
        </form>
    </div>
</div>