.program {
    &__card {
        margin-top: 10px !important;
        &__title {
            ;
        }
        &__subtitle {
            ;
        }
        &__content {
            overflow-y: scroll !important;
            overflow-x: hidden !important;
            padding-right: 30px;
        }
        &__section {
            &__head {
                ;
            }
            &__body {
                ;
            }
            &__foot {
                padding: 8px 0 8px 0;
            }
            &__img {
                ;
            }
        }
        &__actions {
            border-top: 1px solid #CCCCCC;
        }
    }
}