<mat-card class="program__card" color="accent">
    <mat-card-title class="program__card__title">
        {{commitment.title}}
    </mat-card-title>
    <mat-card-subtitle class="program__card__subtitle title">
        {{commitment.subtitle}}
    </mat-card-subtitle>
    <mat-card-content [@cardState]="cardState" class="program__card__content containerX" fxLayout="column">
        <div class="program__card__section" *ngFor="let section of commitment.description">
            <mat-card-subtitle class="program__card__section__head">
                {{section.head}}
            </mat-card-subtitle>
            <div class="program__card__section__body subhead">
                {{section.body}}
            </div>
            <div class="program__card__section__foot">
                {{section.foot}}
            </div>
            <img mat-card-image src="{{section.imgUrl}}" class="program__card__section__img">
        </div>
    </mat-card-content>
    <mat-card-actions fxLayout="row" class="containerX program__card__actions">
        <span fxFlex class="flex-item"></span>
        <button mat-button (click)="toggleCardState()">
            VOIR PLUS
            <mat-icon>expand_more</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>