.partner {
    &__card {
        border-radius: 10px;
        @media (max-width: 720px) {
            display: none !important;
        }
        height: 200px;
        width: 500px;
        margin: 10px;
        background-color: white;
        &__content {}
        &__text {
            &__container {}
        }
        &__image {
            width: 100%;
            &__container {
                width: 150px;
                height: 150px;
            }
        }
        &__description {
            padding-left: 15px;
            color: #999999;
        }
        &__button {
            margin-left: 15px;
        }
        &--mobile {
            border-radius: 10px;
            @media (min-width: 720px) {
                display: none !important;
            }
            min-height: 380px;
            width: 90vw;
            margin: 10px;
            border-radius: 3px;
            background-color: white;
            &__content {}
            &__text {
                &__container {}
            }
            &__image {
                width: 100%;
                &__container {
                    width: 150px;
                    height: 150px;
                }
            }
            &__title {
                width: 100%;
                text-align: center;
                padding-bottom: 10px;
            }
            &__description {
                padding-bottom: 10px;
                width: 100%;
                text-align: center;
                color: #999999;
            }
        }
    }
}

img {
    opacity: 0;
    transition: opacity 1s;
}

img.lazyloaded {
    opacity: 1;
}