<div class="commitment-form containerX" fxLayout="row">
    <div class="flex-item" fxFlex=20></div>
    <div class="commitment-form__content" *ngIf="commitment" class="flex-item" fxFlex=60>
        <form (ngSubmit)="onSubmit($event)" class="containerX" fxLayout="column">
            <mat-input-container>
                <input type="text" [(ngModel)]="commitment.title" matInput placeholder="Title" autofocus required name="title">
            </mat-input-container>
            <mat-input-container>
                <input type="text" [(ngModel)]="commitment.subtitle" matInput placeholder="Subtitle" autofocus required name="subtitle">
            </mat-input-container>
            <mat-input-container>
                <input type="date" [(ngModel)]="commitment.date" matInput placeholder="Date" autofocus required name="date">
            </mat-input-container>
            <span class="subhead">Description:</span>
            <div *ngFor="let paragraph of commitment.description" class="containerX paragraph-form" fxLayout="column">
                <mat-input-container>
                    <input type="text" [(ngModel)]="paragraph.head" matInput placeholder="Head" autofocus name="head">
                </mat-input-container>
                <mat-input-container>
                    <input type="text" [(ngModel)]="paragraph.imgUrl" matInput placeholder="Picture URL" autofocus name="url">
                </mat-input-container>
                <mat-input-container>
                    <textarea [(ngModel)]="paragraph.body" matInput placeholder="Body" autofocus required name="body"></textarea>
                </mat-input-container>
                <mat-input-container>
                    <input type="text" [(ngModel)]="paragraph.foot" matInput placeholder="Foot" autofocus name="foot">
                </mat-input-container>
            </div>
            <div class="containerX" fxLayout="row">
                <span class="flex-item" fxFlex></span>
                <button mat-raised-button color="primary">
                    SAVE
                </button>
                <span class="flex-item" fxFlex></span>
            </div>
        </form>
    </div>
    <div class="flex-item" fxFlex=20></div>
</div>