// Import theming functions
@import '~@angular/material/theming';
// Import your custom theme
@import 'src/app/theme.scss';
.event {
    &__actions {
        padding-top: 0;
        padding-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0px;
        &--desktop {
            max-height: 36px;
        }
    }
    &__card {
        padding: 0;
        margin: 20px 20px;
        @media (max-width: 1000px) {
            display: none !important;
        }
        &--mobile {
            padding: 0;
            margin: 20px 0px;
            max-width: 400px;
            @media (min-width: 1000px) {
                display: none !important;
            }
        }
    }
    &__img {
        max-height: 218px;
        width: 218px;
        min-width: 218px;
        overflow: hidden;
        &--mobile {
            width: 100%;
            overflow: hidden;
        }
    }
    &__content {
        min-height: 171px;
        padding: 24px 30px;
        margin-bottom: 5px;
        border-bottom: 1px solid #F7F7F7;
        &__title {
            font-size: 24px;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    &__action {
        color: mat-color($bde-app-primary, 400) !important;
        &__text {
            @media (max-width: 720px) {
                font-size: 15px;
            }
            word-wrap: break-word;
        }
    }
}

.passed .event__img,
.passed .event__img--mobile {
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.passed.event__card,
.passed.event__card--mobile {
    background-color: #F6F6F6;
    color: #AAAAAA
}

.passed .event__action {
    color: #ff9999 !important;
}

.small {
    max-width: 750px !important;
}