<md-card class="event__card containerX" fxLayout="row">
    <!--<div class="event__picture">-->
    <img src="{{event.imgUrl}}" class="event__img" />
    <!--</div>-->
    <div fxLayout="column" fxFlex>
        <md-card-content class="containerX event__content" fxLayout="column">
            <p class="event__content__title">{{event.title}}</p>
            <p>{{event.description | slice:0:500}}</p>
        </md-card-content>
        <md-card-actions class="containerX padding event__actions" fxLayout="row">
            <button md-button disabled class="event__action">
                <md-icon>date_range</md-icon>
                <span md-caption>{{event.date | date}}</span>
            </button>
            <span class="flex-item" fxFlex></span>
            <a href="https://www.google.fr/maps/place/{{event.location.replace(' ', '+')}}" target="_blank" md-button class="event__action">
                <md-icon>location_on</md-icon>
                <span md-caption>{{event.location}}</span>
            </a>
        </md-card-actions>
    </div>
</md-card>
<md-card class="event__card--mobile containerX" fxLayout="column">
    <!--<div class="event__picture">-->
    <img src="{{event.imgUrl}}" class="event__img--mobile" />
    <!--</div>-->
    <div fxLayout="column">
        <md-card-content class="containerX event__content" fxLayout="column">
            <p class="event__content__title">{{event.title}}</p>
            <p>{{event.description | slice:0:500}}</p>
        </md-card-content>
        <md-card-actions class="containerX padding event__actions" fxLayout="column">
            <button md-button disabled class="event__action">
                <md-icon>date_range</md-icon>
                <span md-caption class="event__action__text">{{event.date | date}}</span>
            </button>
            <a href="https://www.google.fr/maps/place/{{event.location.replace(' ', '+')}}" target="_blank" md-button class="event__action">
                <md-icon>location_on</md-icon>
                <span md-caption class="event__action__text">{{event.location}}</span>
            </a>
        </md-card-actions>
    </div>
</md-card>