<mat-card class="event__card containerX" [ngClass]="{ 'passed' : isPassed(event.date), 'small' : small }" fxLayout="row">
    <!--<div class="event__picture">-->
    <img src="{{event.imgUrl}}" class="event__img" (load)="loaded = true" [class.lazyloaded]="loaded" />
    <!--</div>-->
    <div fxLayout="column" fxFlex>
        <mat-card-content class="containerX event__content" fxLayout="column">
            <p class="event__content__title">{{event.title}}</p>
            <p *ngIf="small == false">{{event.description | slice:0:500}}</p>
            <p *ngIf="small == true">
                <span>{{event.description | slice:0:320}}</span>
                <span *ngIf="event.description.length > 320" matTooltip="{{ event.description }}">
                    <span>[ . . . ]</span>
                </span>
            </p>
        </mat-card-content>
        <mat-card-actions class="containerX padding event__actions event__actions--desktop" fxLayout="row">
            <a mat-button class="event__action" href="http://www.google.com/calendar/event?action=TEMPLATE&text={{ event.title }}&dates={{ generateDates(event) }}&details={{ event.description }}&location={{ event.location }}"
                target="_blank" rel="nofollow">
                <mat-icon>date_range</mat-icon>
                <span mat-caption>{{event.date | date}}</span>
            </a>
            <span class="flex-item" fxFlex></span>
            <button mat-button (click)="showSubscriptionDialog()" class="event__action event__actions" *ngIf="event.subscription == true && sub == false && event.hasTickets == false">
                <mat-icon>edit</mat-icon>
                <span mat-caption class="event__action__text">S'INSCRIRE</span>
            </button>
            <a mat-button [href]="event.tickets" class="event__action" *ngIf="event.subscription == true && event.hasTickets == true">
                <mat-icon>shopping_basket</mat-icon>
                <span mat-caption class="event__action__text">BILLETERIE</span>
            </a>
            <button mat-button (click)="unsubscribe()" class="event__action" *ngIf="event.subscription == true && sub == true">
                <mat-icon>close</mat-icon>
                <span mat-caption class="event__action__text">SE DÉSINSCRIRE</span>
            </button>
            <a *ngIf="small == false" href="https://www.google.fr/maps/place/{{event.location.replace(' ', '+')}}" target="_blank" mat-button
                class="event__action">
                <mat-icon>location_on</mat-icon>
                <span mat-caption>{{event.location}}</span>
            </a>
            <a *ngIf="small == true" href="https://www.google.fr/maps/place/{{event.location.replace(' ', '+')}}" target="_blank" mat-icon-button
                class="event__action">
                <mat-icon>location_on</mat-icon>
            </a>
        </mat-card-actions>
    </div>
</mat-card>
<mat-card class="event__card--mobile containerX" [ngClass]="{ 'passed' : isPassed(event.date) }" fxLayout="column">
    <!--<div class="event__picture">-->
    <img src="{{event.imgUrl}}" class="event__img--mobile" (load)="loaded = true" [class.lazyloaded]="loaded" />
    <!--</div>-->
    <div fxLayout="column">
        <mat-card-content class="containerX event__content" fxLayout="column">
            <p class="event__content__title">{{event.title}}</p>
            <p>{{event.description | slice:0:500}}</p>
            <button mat-button disabled class="event__action">
                <mat-icon>date_range</mat-icon>
                <span mat-caption class="event__action__text">{{event.date | date}}</span>
            </button>
        </mat-card-content>
        <mat-card-actions class="containerX padding event__actions" fxLayout="column">
            <button mat-button (click)="showSubscriptionDialog()" class="event__action" *ngIf="event.subscription == true && sub == false && event.hasTickets == false">
                <mat-icon>edit</mat-icon>
                <span mat-caption class="event__action__text">S'INSCRIRE</span>
            </button>
            <a mat-button [href]="event.tickets" class="event__action" *ngIf="event.subscription == true && event.hasTickets == true">
                <mat-icon>basket</mat-icon>
                <span mat-caption class="event__action__text">BILLETERIE</span>
            </a>
            <button mat-button (click)="unsubscribe()" class="event__action" *ngIf="event.subscription == true && sub == true">
                <mat-icon>close</mat-icon>
                <span mat-caption class="event__action__text">SE DÉSINSCRIRE</span>
            </button>
            <a href="https://www.google.fr/maps/place/{{event.location.replace(' ', '+')}}" target="_blank" mat-button class="event__action">
                <mat-icon>location_on</mat-icon>
                <span mat-caption class="event__action__text">{{event.location}}</span>
            </a>
        </mat-card-actions>
    </div>
</mat-card>