<app-mailing-address-bar [mails]="mails" (updateMails)="updateSelectedMails($event)"></app-mailing-address-bar>
<app-mailing-text-interface [mailBody]="mailBody" (updateSubject)="updateSubject($event)" (updateMail)="updateMailBody($event)"></app-mailing-text-interface>
<app-mailing-render-interface [mailBody]="mailBody"></app-mailing-render-interface>
<div class="containerX" fxLayout="row">
    <span fxFlex></span>
    <button md-raised-button color="primary" (click)="sendMail()">
        SEND MAIL
    </button>
    <span fxFlex></span>
</div>