<md-card class="card" class.xs="small" [ngClass]="{ 'card__partner' : isPartner }">
    <img class="card__picture" mdCardImage [src]="imgUrl" (load)="loaded = true" [ngClass]="{ 'lazyloaded' : loaded, 'card__picture__250px': isEvent, 'card__picture__348px': isPartner }">
    <div class="card__title__alt" *ngIf="titleOverPicture === true">
    </div>
    <span class="card__title__alt__label" *ngIf="titleOverPicture === true">
        <md-icon *ngIf="icon">
            {{ icon }}
        </md-icon>
        <span class="card__title__alt__label__title" *ngIf="icon">
            {{ title }}
        </span>
        <span *ngIf="!icon">
            {{ title }}
        </span>
    </span>
    <div class="containerX" fxLayout="row" *ngIf="links" fxLayoutWrap>
        <div *ngFor="let link of links">
            <a md-button color="primary" class="card__links" [href]="link.href">
                <md-icon *ngIf="link.icon">
                    {{ link.icon }}
                </md-icon>
                <span class="card__links__label" *ngIf="link.name">
                    {{ link.name }}
                </span>
            </a>
        </div>
    </div>
    <md-card-content class="card__container" *ngIf="title || textContent || actionLabel" [ngStyle]="{ 'min-height': contentMinHeight }">
        <div class="card__title" *ngIf="titleOverPicture === false && title">
            <md-icon *ngIf="icon">
                {{ icon }}
            </md-icon>
            <span *ngIf="icon" class="card__title__label">
                {{ title }}
            </span>
            <span *ngIf="!icon">
                {{ title }}
            </span>
        </div>
        <div class="card__content" *ngIf="textContent" [@expand]="expandState">
            {{ textContent }}
        </div>
    </md-card-content>
    <md-card-actions align="end" *ngIf="actionLabel || expandable" class="containerX card__actions">
        <button md-icon-button (click)="toggleCard()" class="card__toggle-button" *ngIf="expandable">
            <md-icon class="card__toggle-button__icon">
                {{ arrowIcon }}
            </md-icon>
        </button>
        <span fxFlex class="flex-item"></span>
        <button md-raised-button color="primary" class="card__action" (click)="transmitEvent(event)" *ngIf="actionLabel">
            {{ actionLabel }}
        </button>
    </md-card-actions>
</md-card>