<mat-card class.gt-xs="card" class.xs="card small">
    <img class="card__picture" *ngIf="imgUrl" matCardImage [src]="imgUrl" (load)="loaded = true" [ngClass]="{ 'lazyloaded' : loaded, 'card__picture__250px': isEvent, 'card__picture__348px': isPartner }">
    <div class="card__title__alt" *ngIf="titleOverPicture === true">
        <div class="card__title__alt__label" *ngIf="titleOverPicture === true">
            <mat-icon *ngIf="icon">
                {{ icon }}
            </mat-icon>
            <span class="card__title__alt__label__title" *ngIf="icon">
                {{ title }}
            </span>
            <span *ngIf="!icon">
                {{ title }}
            </span>
        </div>
    </div>
    <div *ngIf="links">
        <div *ngFor="let link of links">
            <a mat-button color="primary" class="card__links" [href]="link.href">
                <mat-icon *ngIf="link.icon">
                    {{ link.icon }}
                </mat-icon>
                <span class="card__links__label" *ngIf="link.name">
                    {{ link.name }}
                </span>
            </a>
        </div>
    </div>
    <mat-card-content class="card__container" *ngIf="title || textContent || actionLabel" [ngStyle]="{ 'min-height': contentMinHeight }">
        <div class="card__title" *ngIf="titleOverPicture === false && title">
            <mat-icon *ngIf="icon">
                {{ icon }}
            </mat-icon>
            <span *ngIf="icon" class="card__title__label">
                {{ title }}
            </span>
            <span *ngIf="!icon">
                {{ title }}
            </span>
        </div>
        <div class="card__content" *ngIf="textContent" [@expand]="expandState">
            {{ textContent }}
        </div>
    </mat-card-content>
    <mat-card-actions align="end" *ngIf="actionLabel || expandable" class="containerX card__actions">
        <button mat-icon-button (click)="toggleCard()" class="card__toggle-button" *ngIf="expandable">
            <mat-icon class="card__toggle-button__icon">
                {{ arrowIcon }}
            </mat-icon>
        </button>
        <span fxFlex class="flex-item"></span>
        <button mat-raised-button color="primary" class="card__action" (click)="transmitEvent(event)" *ngIf="actionLabel">
            {{ actionLabel }}
        </button>
    </mat-card-actions>
</mat-card>