<div class="containerX" fxLayout="column" class="order">
    <mat-card *ngFor="let order of orders" fxLayout="column" class="order__card">
        <div *ngFor="let article of order.articles" class="order__card__line mat-subheading-1">
            <span>
                {{ article.title }}
            </span>
            <span fxFlex class="containerX"></span>
            <span>
                {{ article.quantity }} items - {{ article.price * article.quantity }}€
            </span>
        </div>
        <div class="order__card__line mat-subheading-2">
            <span>
                Total
            </span>
            <span fxFlex class="containerX"></span>
            <span>
                {{ getTotalAmount(order) }}€
            </span>
        </div>
        <div fxLayout="row">
            <span class="order__card__status__text">
                Commande reçue:
            </span>
            <div>
                <mat-icon class="order__card__status__green" *ngIf="order.delivered">
                    check
                </mat-icon>
                <mat-icon class="order__card__status__grey" *ngIf="!order.delivered">
                    timer
                </mat-icon>
            </div>
        </div>
    </mat-card>
    <div class="containerX" fxLayout="row" *ngIf="!orders || !orders.length">
        <span fxFlex class="flex-item"></span>
        <div class="order__no-items mat-title">
            <span>
                Tu n'as encore jamais passé commande
            </span>
        </div>
        <mat-icon class="order__no-items__icon">
            sentiment_dissatisfied
        </mat-icon>
        <span fxFlex class="flex-item"></span>
    </div>
</div>