<mat-card class="events__card event">
    <mat-card-content class="event__card__content containerX" fxLayout="column">
        <div class="containerX headline" fxLayout="row">
            <span class="flex-item message__text" fxFlex>{{event.$key}}</span>
        </div>
        <div fxLayout="row" class="containerX">
            <span fxFlex></span>
            <mat-input-container>
                <input type="text" matInput placeholer="login" [(ngModel)]="new.login" name="title">
            </mat-input-container>
            <button mat-button color="primary" (click)="subscribe(event.$key, new.login)">
                    ADD
                </button>
            <span fxFlex></span>
        </div>
        <div class="message__body">
            <div *ngFor="let login of logins">
                <app-subscription-login [login]="login" [event]="event.$key" *ngIf="!login.archived || login.archived == false"></app-subscription-login>
            </div>
            <div *ngFor="let login of logins">
                <app-subscription-login [login]="login" [event]="event.$key" *ngIf="login.archived == true"></app-subscription-login>
            </div>
        </div>
    </mat-card-content>
</mat-card>