<div class="containerX" fxLayout="column" *ngIf="basket.getArticles()" class="basket">
    <md-card *ngFor="let article of basket.getArticles()" fxLayout="row" class="basket__card mat-title">
        <span class="basket__card__text">{{ article.getTitle() }}</span>
        <span fxFlex class="containerX "></span>
        <span class="basket__card__text">{{ article.quantity }} items - {{ article.getPrice() * article.quantity }}€</span>
        <button md-icon-button (click)="deleteItem()" color="warn" mdTooltip="Retirer du panier">
            <md-icon class="basket__card__grey">delete</md-icon>
        </button>
    </md-card>
    <button md-raised-button *ngIf="basket.getArticles() && basket.getArticles().length; else noArticleTemplate" (click)="openOrderDialog()" class="mat-button basket__order-button" color="primary">
        PASSER COMMANDE
    </button>
    <ng-template #noArticleTemplate>
        <div class="containerX" fxLayout="row">
            <span fxFlex class="flex-item"></span>
            <div class="basket__no-items mat-title">
                <span>
                    Il n'y aucun article dans ton panier
                </span>
            </div>
            <md-icon class="basket__no-items__icon">
                sentiment_dissatisfied
            </md-icon>
            <span fxFlex class="flex-item"></span>
        </div>
    </ng-template>
</div>