<div class="deal-form containerX" fxLayout="row">
    <div class="flex-item" fxFlex=20></div>
    <div class="deal-form__content" *ngIf="deal" class="flex-item" fxFlex=60>
        <form (ngSubmit)="onSubmit($deal)" class="containerX" fxLayout="column">
            <mat-input-container>
                <input type="text" [(ngModel)]="deal.title" matInput placeholder="Title" autofocus required name="title">
            </mat-input-container>
            <mat-input-container>
                <textarea [(ngModel)]="deal.description" matInput placeholder="description" autofocus required name="description"></textarea>
            </mat-input-container>
            <mat-input-container>
                <input type="text" [(ngModel)]="deal.imgUrl" matInput placeholder="Picture URL" autofocus name="imgUrl">
            </mat-input-container>
            <mat-input-container>
                <input type="text" [(ngModel)]="deal.url" matInput placeholder="Website URL" autofocus name="url">
            </mat-input-container>
            <mat-input-container>
                <input type="text" [(ngModel)]="deal.partner" matInput placeholder="Partner's name" autofocus name="partner">
            </mat-input-container>
            <div class="containerX" fxLayout="row">
                <span class="flex-item" fxFlex></span>
                <button mat-raised-button color="primary">
                    SAVE
                </button>
                <span class="flex-item" fxFlex></span>
            </div>
        </form>
    </div>
    <div class="flex-item" fxFlex=20></div>
</div>