/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
body {
    margin: 0;
    min-height: 100vh;
    background-image: url('background.png');
}

.padding {
    padding: 10px;
}

.margin {
    margin: 10px;
}

.md-button-toggle-label-content {
    background-color: unset !important;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border-radius: 3px;
    font-size: 16px;
}

.md-button-toggle-label-content:hover {
    background-color: rgba(0, 0, 0, 0.05) !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.box-shadow-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.box-shadow-1-selected {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.box-shadow-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.box-shadow-3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.box-shadow-4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.box-shadow-5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.md-focused {
    color: #ffca28 !important;
}

.md-input-ripple {
    background-color: #ffca28 !important;
}

.display-3 {
    font-size: 56px;
}

.display-2 {
    font-size: 45px;
}

.display-1 {
    font-size: 34px;
}

.headline {
    font-size: 24px;
}

.title {
    font-size: 20px;
}

.subhead {
    font-size: 16px;
}

.no-border {
    border: 0 !important;
}