<div class="mailing-lists">
    <mat-card class="margin">
        <mat-card-header class="headline">
            Add mail
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="row" class="containerX">
                <span fxFlex></span>
                <mat-input-container class="margin">
                    <input type="text" matInput placeholder="List name" [(ngModel)]="listTyped" name="title" [matAutocomplete]="auto">
                </mat-input-container>
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let mailingList of mailingLists" [value]="mailingList.$key">
                        {{ mailingList.$key }}
                    </mat-option>
                </mat-autocomplete>
                <mat-input-container class="margin">
                    <input type="text" matInput placeholder="Mail" [(ngModel)]="mailTyped" name="title">
                </mat-input-container>
                <button mat-button color="primary" (click)="addMail()">
                    ADD
                </button>
                <span fxFlex></span>
            </div>
        </mat-card-content>
    </mat-card>
    <div *ngFor="let mailingList of mailingLists; let index = index">
        <app-mailing-list [mailingList]="mailingList"></app-mailing-list>
    </div>
</div>