.message {
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    cursor: pointer;
    padding: 16px;
    &:hover {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
    &__text {
        padding-top: 5px;
    }
    &__body {
        margin-top: 10px;
        border-top: 1px solid #EEEEEE;
        &__text {
            word-wrap: break-word;
            padding: 5px;
            color: #7E7E7E;
        }
    }
}

.messages {
    &__card {
        margin-bottom: 10px;
    }
}

.archived {
    background-color: #F0F0F0;
}