<mat-card class="messages__card message" [ngClass]="{ 'archived': message.archived }">
    <mat-card-content class="messages__card__content containerX" fxLayout="column">
        <div class="containerX headline" fxLayout="row" (click)="toggleState()">
            <span class="flex-item message__text" fxFlex>{{message.subject}}</span>
            <span class="flex-item message__text" fxFlex>{{message.email}}</span>
            <button mat-icon-button style="color: #A0CE4E" (click)="deleteMessage()" *ngIf="!message.archived ; else elseBlock">
                <mat-icon>check</mat-icon>
            </button>
            <ng-template #elseBlock>
                <button mat-icon-button style="color: #A0CE4E" (click)="rollbackMessage()">
                    <mat-icon>settings_backup_restore</mat-icon>
                </button>
            </ng-template>
        </div>
        <div *ngIf="cardState === 'expanded'" class="message__body">
            <p class="message__body__text subhead">
                {{message.message}}
            </p>
        </div>
    </mat-card-content>
</mat-card>