<mat-card class="event__card event" [ngClass]="{'archived': event.archived == true}">
    <mat-card-content class="containerX" fxLayout="column">
        <div class="containerX headline" fxLayout="row">
            <span class="flex-item event__text" fxFlex>{{event.title}}</span>
            <button mat-button (click)="edit()">
                MODIFIER
            </button>
            <button mat-button style="margin-left: 5px" (click)="remove()" *ngIf="!event.archived || event.archived == false; else elseBlock">
                ARCHIVER
            </button>
            <ng-template #elseBlock>
                <button mat-button style="margin-left: 5px" (click)="unarchived()">
                    DESARCHIVER
                </button>
            </ng-template>
        </div>
    </mat-card-content>
</mat-card>