<div class="containerX app__content" fxLayout="row">
    <mat-sidenav-container class="app__content">
        <mat-sidenav [mode]="sidenavMode" [opened]="sidenavOpen" class="mat-elevation-z8" style="background-color: #f9a825" #sidenav>
            <app-sidebar [sidenav]="sidenav"></app-sidebar>
        </mat-sidenav>
        <div class="app__content_view">
            <mat-toolbar color="primary">
                <button mat-icon-button class="color__white" (click)="sidenav.open()" *ngIf="showFab">
                    <mat-icon>
                        menu
                    </mat-icon>
                </button>
            </mat-toolbar>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-container>
</div>