<mat-card class="address-bar margin">
    <mat-card-content>
        <div class="containerX" fxLayout="row">
            <mat-input-container>
                <input matInput ngModel #newMail="ngModel" name="new mail" placeholder="New mail">
            </mat-input-container>
            <button mat-button color="primary" (click)="addMail(newMail)">
                ADD
            </button>
            <span fxFlex></span>
            <button mat-button color="primary" (click)="resetSelectedAddresses()">
                RESET
            </button>
        </div>
        <div class="address-bar__adresses">
            <mat-chip *ngFor="let mail of mails" color="primary" selected="true" class="address-bar__addresses__chip" [removable]="true"
                (remove)="removeMail(mail)">
                {{ mail.email }}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
        </div>
        <div class="address-bar__divider margin"></div>
        <div class="address-bar__lists">
            <mat-chip-list>
                <mat-chip *ngFor="let mailingList of mailingLists" selected="true" [ngClass]="{ 'address-bar__lists__selected': selectedLists.indexOf(mailingList.$key) >= 0 }"
                    color="primary" (click)="selectList(mailingList, mailingList.$key)">
                    {{ mailingList.$key }}
                </mat-chip>
            </mat-chip-list>
        </div>
    </mat-card-content>
</mat-card>