.address-bar {
    &__divider {
        border-bottom: 1px solid #F0F0F0;
    }
    &__addresses {
        &__chip {
            margin-bottom: 5px !important;
        }
        &__address {
            padding-top: 5px;
            &__button {
                height: 10px !important;
            }
        }
    }
}