<md-card class="address-bar margin">
    <md-card-content>
        <md-input-container>
            <input type="email" mdInput [(ngModel)]="fromEmail" (ngModelChange)="updateFromField()" placeholder="From">
        </md-input-container>
        <div class="containerX" fxLayout="row">
            <md-input-container>
                <input mdInput ngModel #newMail="ngModel" name="new mail" placeholder="New mail">
            </md-input-container>
            <button md-button color="primary" (click)="addMail(newMail)">
                ADD
            </button>
            <span fxFlex></span>
            <button md-button color="primary" (click)="resetSelectedAddresses()">
                RESET
            </button>
        </div>
        <div class="address-bar__adresses">
            <md-chip *ngFor="let mail of mails" color="primary" selected="true" class="address-bar__addresses__chip">
                <div fxLayout="row">
                    <span class="address-bar__addresses__address">
                        {{ mail.email }}
                    </span>
                    <md-icon (click)="removeMail(mail)">
                        close
                    </md-icon>
                </div>
            </md-chip>
        </div>
        <div class="address-bar__divider margin"></div>
        <div class="address-bar__lists">
            <md-chip-list>
                <md-chip *ngFor="let mailingList of mailingLists" [selected]="selectedLists.indexOf(mailingList.$key) < 0" color="primary" (click)="selectList(mailingList, mailingList.$key)">
                    {{ mailingList.$key }}
                </md-chip>
            </md-chip-list>
        </div>
    </md-card-content>
</md-card>