.team {
    &__card {
        border-radius: 10px;
        transform: rotateY(0deg);
        transition: 0.6s;
        transform-style: preserve-3d;
        height: 320px !important;
        width: 250px !important;
        background-color: white;
        &__imgcontainer {
            margin-top: 8%;
            width: 150px;
            height: 150px;
        }
        &__img {
            border-radius: 5000px;
            width: 100%;
            transition: all 500ms;
            &:hover {
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            }
        }
        &__content {
            &__subcontent {
                padding-top: 10px;
                text-align: center
            }
            &__line {
                height: 0px;
                border-top: 1px solid #B6B7B8;
                margin: auto;
                margin-top: 20px;
                width: 40%;
            }
        }
        &__back {
            transform: rotateY(-180deg);
        }
        &__clicked {
            transform: rotateY(180deg);
            transition: 0.6s;
            transform-style: preserve-3d;
        }
    }
}

img {
    opacity: 0;
    transition: opacity 1s;
}

img.lazyloaded {
    opacity: 1;
}