<mat-card class="team__card" [@memberCardState]='state'>
    <mat-card-content class="containerX team__card__front" fxLayout="column" *ngIf="front == true">
        <div class="containerX" fxLayout="row">
            <span class="flex-item" fxFlex=20></span>
            <div fxFlex="60" class="flex-item team__card__imgcontainer">
                <a href="https://profile.intra.42.fr/users/{{member.login}}" target="_blank">
                    <img src="{{member.imgUrl}}" alt="{{member.name}}" class="team__card__img" (load)="loaded = true" [class.lazyloaded]="loaded">
                </a>
            </div>
            <div class="flex-item containerX" fxFlex="20" fxLayout="row">
                <span class="flex-item" fxFlex></span>
                <button class="flex-item" mat-icon-button (click)="flipCard()">
                    <mat-icon>rotate_left</mat-icon>
                </button>
            </div>
        </div>
        <div class="containerX" fxLayout="column" class="team__card__content">
            <div class="containerX team__card__content__subcontent" fxLayout="row">
                <span class="flex-item" fxFlex></span>
                <div class="title">
                    {{member.name}}
                </div>
                <span class="flex-item" fxFlex></span>
            </div>
            <div class="containerX team__card__content__subcontent" fxLayout="row">
                <span class="flex-item" fxFlex></span>
                <div class="subhead">
                    {{member.occupation}}
                </div>
                <span class="flex-item" fxFlex></span>
            </div>
            <div class="team__card__content__subcontent">
                <div class="team__card__content__line">
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-content class="containerX team__card__back" fxLayout="column" *ngIf="front == false">
        <div class="containerX" fxLayout="row">
            <span class="flex-item" fxFlex=20></span>
            <div fxFlex="60" class="flex-item team__card__imgcontainer">
                <a href="https://profile.intra.42.fr/users/{{member.login}}" target="_blank">
                    <img src="{{member.imgUrl}}" alt="{{member.name}}" class="team__card__img" (load)="loaded = true" [class.lazyloaded]="loaded">
                </a>
            </div>
            <div class="flex-item containerX" fxFlex="20" fxLayout="row">
                <span class="flex-item" fxFlex></span>
                <button class="flex-item" mat-icon-button (click)="flipCard()">
                    <mat-icon>rotate_left</mat-icon>
                </button>
            </div>
        </div>
        <div class="containerX" fxLayout="column" class="team__card__content">
            <div class="containerX team__card__content__subcontent" fxLayout="row">
                <span class="flex-item" fxFlex></span>
                <div class="title">
                    {{member.pseudo}}
                </div>
                <span class="flex-item" fxFlex></span>
            </div>
            <div class="containerX team__card__content__subcontent" fxLayout="row">
                <span class="flex-item" fxFlex></span>
                <div class="subhead">
                    {{member.citation}}
                </div>
                <span class="flex-item" fxFlex></span>
            </div>
            <div class="containerX team__card__content__subcontent" fxLayout="row">
                <span class="flex-item" fxFlex></span>
                <!--<div class="subhead">
                    {{member.email}}
                </div>-->
                <a mat-raised-button color="primary" target="_blank" href="mailto:{{ member.email }}">
                    <mat-icon>
                        email
                    </mat-icon>
                    <span>
                        Me contacter
                    </span>
                </a>
                <span class="flex-item" fxFlex></span>
            </div>
        </div>
    </mat-card-content>
</mat-card>